.video-cropper-crop-box {
    position: absolute;
    display: block;
    top: var(--crop-box-top);
    left: var(--crop-box-left);
    width: var(--crop-box-width);
    height: var(--crop-box-height);
    border: rgba(238, 238, 238, 0.5) 1px dashed;
    cursor: move;
    display: grid;
    box-sizing: content-box;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
}

.video-cropper-anchor {
    display: block;
    width: 5px;
    height: 5px;
    cursor: ew-resize;
    position: absolute;
    background: #ffffff;
    border: solid 1px #000000;
}

.video-cropper-anchor-0 {
    margin-left: -3px;
    margin-top: -3px;
    cursor: nwse-resize;
    align-self: start;
    justify-self: start;
}

.video-cropper-anchor-1 {
    margin-top: -3px;
    cursor: ns-resize;
    align-items: center;
    justify-self: center;
}

.video-cropper-anchor-2 {
    margin-top: -3px;
    margin-right: -3px;
    cursor: nesw-resize;
    align-self: start;
    justify-self: end;
}

.video-cropper-anchor-3 {
    margin-left: -3px;
    cursor: ew-resize;
    align-self: center;
    justify-self: start;
}

.video-cropper-anchor-4 {
    margin-right: -3px;
    cursor: ew-resize;
    align-self: center;
    justify-self: end;
}

.video-cropper-anchor-5 {
    margin-bottom: -3px;
    margin-left: -3px;
    cursor: nesw-resize;
    align-self: end;
    justify-self: start;
}

.video-cropper-anchor-6 {
    margin-bottom: -3px;
    cursor: ns-resize;
    align-self: end;
    justify-self: center;
}

.video-cropper-anchor-7 {
    margin-bottom: -3px;
    margin-right: -3px;
    cursor: nwse-resize;
    align-self: end;
    justify-self: end;
}
